node_modules
.turbo
.next
.nettoify
.netlify
dist
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage
.pnpm-store
apps/web/.next
supabase/.temp
supabase/.branches
infra/.terraform
infra/terraform.tfstate*
uploads/
data/
$COOKIE
*.tsbuildinfo
